:root.theme-dark {
  --bg-image: url("../images/cover-image-dark.png");
  --bg-color: #000028;
  --section-title-color: #ff0070;
  --btn-color: #ff0070;
  --dec-color: #ff0070;
  --subtitle-text: #000028;
  --accent-color: #ff0070;
  --title-color: #db00ff;
  --text-color: #f1b2ce;
}
