.page {
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--bg-color);
}

.header {
  height: 100vh;
  min-height: 668px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  padding: 10px;
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  gap: 10px;
  list-style: none;
  flex-direction: column;
}

.header__theme-menu-button {
  background: transparent;
  border: none;
  cursor: pointer;
  color: var(--btn-color, #fff);
  padding: 0 13px;
  height: 26px;
  font-family: "IBM Plex mono", sans-serif;
  text-transform: lowercase;
  font-weight: 400;
  line-height: 18px;
  font-size: 18px;
}

.header__theme-menu-button_active {
  border: 1px solid var(--btn-color);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--btn-hover);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-color: transparent;
  border-bottom: 1px solid var(--btn-color);
}

.header__title {
  font-family: "IBM Plex mono", sans-serif;
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  justify-self: start;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__title-text {
  justify-self: end;
  align-self: center;
  width: 100%;
  max-width: 355px;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--subtitle-text);
  font-family: "IBM Plex mono", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
}

.header__rec {
  position: absolute;
  top: 10px;
  right: 19px;
  color: var(--dec-color);
  font-family: "IBM Plex mono", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__rec::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  background-color: var(--dec-color);
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--dec-color);
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border: 1px solid var(--dec-color);
}

.decorated-zone::before {
  top: 10px;
  right: 10px;
  border-bottom: none;
  border-left: none;
}

.decorated-zone::after {
  bottom: 10px;
  left: 10px;
  border-top: none;
  border-inline-end: none;
}

.section {
  display: grid;
  column-gap: 20px;
  padding: 50px 10px 0 10px;
}

.section__title {
  color: var(--section-title-color);
  font-family: "IBM Plex mono", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  margin: 0;
}

.section__subtitle {
  font-family: "IBM Plex mono", sans-serif;
  font-size: 18px;
  line-height: 23.4px;
  margin-bottom: 20px;
  width: 100%;
}

.section__body {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section_why-difficult {
  grid-template-columns: 1fr;
  padding-top: 40px;
  gap: 20px;
}

.section_why-difficult .section__title {
  grid-column: 1 / -1;
}

.section_why-difficult .section__body {
  grid-column: 1 / -1;
}

.section_concentration {
  grid-template-columns: 1fr;
}

.section_concentration .section__title {
  grid-column: 1 / -1;
  margin-bottom: 20px;
  width: 100%;
}

.section_concentration .section__body {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.section_advices {
  grid-template-columns: 1fr;
  gap: 20px;
}

.section_advices .section__title {
  grid-column: 1 / -1;
}

.section_advices .section__body {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card__subtitle {
  font-weight: 400;
}

.card__text {
  color: var(--text-color);
  font-family: "IBM Plex mono", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  margin: 0;
}

.card__link {
  color: var(--text-color);
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.card__link:hover {
  border-bottom: 1px solid var(--text-color);
}

.card__link:focus-visible {
  outline: none;
  border: 1px solid var(--text-color);
}

.section_gallery {
  display: block;
  padding-bottom: 40px;
}

.section_gallery__title {
  width: 100%;
  margin-bottom: 10px;
}

.gallery {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.gallery__image {
  width: 100%;
  object-fit: cover;
  display: block;
  grid-column: auto;
  grid-row: auto;
}

.footer {
  height: 100vh;
  min-height: 668px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__title {
  font-family: "IBM Plex mono", sans-serif;
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

@media (min-width: 768px) {
  .header {
    padding: 20px 20px 20px 0;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__title-text {
    max-width: 364px;
  }

  .header__rec {
    top: 20px;
    right: 29px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .section {
    padding: 0 20px 80px 20px;
  }

  .section__subtitle {
    width: fit-content;
  }

  .section_why-difficult {
    grid-template-columns: 1fr 2fr;
    padding-top: 60px;
  }

  .section_why-difficult .section__title {
    grid-column: 1;
  }

  .section_why-difficult .section__body {
    grid-column: 2;
  }

  .section_concentration {
    grid-template-columns: min-content 1fr;
  }

  .section_concentration .section__title {
    grid-column: 1 / 2;
  }

  .section_advices {
    grid-template-columns: 1fr 2fr;
  }

  .section_advices .section__title {
    grid-column: 1 / 2;
  }

  .section_advices .section__body {
    grid-column: 2 / 3;
  }

  .section_gallery__title {
    margin-bottom: 20px;
  }

  .section_gallery {
    padding-bottom: 60px;
  }

  .gallery {
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
  }

  .gallery__image {
    height: 100%;
  }

  .gallery__image_sunset {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .gallery__image_ice-cream {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  .gallery__image_tape {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }

  .gallery__image_books {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .gallery__image_street {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (min-width: 1024px) {
  .header {
    min-height: 768px;
    padding: 20px;
  }

  .header__title {
    margin-left: -20px;
  }

  .header__title-text {
    max-width: 491px;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .section_why-difficult {
    gap: 10px;
  }

  .section_advices {
    gap: 10px;
  }

  .section_concentration {
    grid-template-columns: repeat(3, 1fr);
  }

  .section_concentration .section__body {
    grid-template-columns: repeat(3, 1fr);
  }
}
