:root {
  --bg-image: url("../images/cover-image.png");
  --bg-color: #000028;
  --btn-color: #ff0070;
  --btn-hover: #ff007066;
  --dec-color: #ff0070;
  --subtitle-text: #000028;
  --accent-color: #ff0070;
  --title-color: #db00ff;
  --text-color: #f1b2ce;
}
